<div class="flex flex-col">
  <div *ngIf="cartItems.length === 0">
    <span class="flex justify-center">El carrito está vacio.</span>
  </div>
    <ul class="flex mb-2 border-2 border-customPink  hover:bg-customPink" *ngFor="let cartItem of cartItems">
      <img class="w-32 h-36 rounded-md" src="{{cartItem.image}}" alt="">
      <div class="flex flex-col p-4 text-base">
          <h1 class=" mb-2">{{ cartItem.title }} </h1>
          <span class="pr-2"> ${{ cartItem.price }}</span>
          <button class="rounded border border-black bg-pink-50" (click)="removeItem(cartItem.id)">X</button>
      </div>
    </ul>
  </div>