<div class="flex flex-col">
  <div *ngIf="cartItems.length === 0">
    <span class="flex justify-center">El carrito está vacio.</span>
  </div>
    <ul class="flex mb-2 border rounded-lg overflow-hidden hover:shadow-lg " *ngFor="let cartItem of cartItems">
      <img class="w-32 h-36 " src="{{cartItem.image}}" alt="">
      <div class="flex flex-col p-4 text-base">
          <h1 class=" mb-2">{{ cartItem.title }} </h1>
          <span class="pr-2"> ${{ cartItem.price }}</span>
          <button class="rounded text-white bg-purple-400 hover:bg-purple-500" (click)="removeItem(cartItem.id)">Eliminar</button>
        </div>
      </ul>
    <div class="flex flex-col justify-end" *ngIf="cartItems.length != 0">
      <button class="text-purple-800 hover:text-purple-600 transition duration-300"><a href="payment">Pagar</a></button>
    </div>
  </div>