<main class="overflow-x-hidden">
  <div class="bg-gray-100">
    <header class="flex items-center justify-between px-6 py-4 border-b-2">
      <h1 class="text-2xl text-purple-600 font-bold"><a href="/products">Fake Shop</a></h1>
    </header>
  </div>
  
  <div class="bg-gray-100 py-4 px-4 sm:px-6 lg:px-8 font-primary animate-fade-left">
      <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">¡Bienvenidos a <span class="text-purple-500">Fake Shop</span>!</h2>
        <p class="mt-4 text-lg text-gray-600">En <span class="text-purple-400">Fake Shop</span> nos apasiona ofrecer productos de calidad que no solo satisfacen tus necesidades, sino que también hacen que tu vida sea más fácil y emocionante. Desde artículos de tecnología innovadores hasta moda elegante y productos para el hogar que transforman tus espacios, tenemos algo especial para cada ocasión.</p>
        <p class="mt-4 text-lg text-gray-600">Nuestro compromiso con la excelencia se refleja en cada detalle: desde la cuidadosa selección de nuestros productos hasta nuestra dedicación en proporcionar un servicio al cliente excepcional. Creemos en la importancia de la satisfacción del cliente y nos esforzamos por superar tus expectativas en cada compra.</p>
        <p class="mt-4 text-lg text-gray-600">Fundada con la visión de conectar a las personas con productos que mejoran su estilo de vida, en <span class="text-purple-400">Fake Shop</span> te ofrecemos más que simples compras: te ofrecemos una experiencia de descubrimiento y satisfacción.</p>
        <p class="mt-4 text-lg text-gray-600">Explora nuestra colección y encuentra lo que te inspira. ¡Esperamos que disfrutes navegando por nuestra tienda tanto como nosotros disfrutamos seleccionando estos productos para ti!</p>
        <p class="mt-4 text-lg text-gray-600">Únete a nuestra comunidad y descubre por qué somos tu destino preferido para encontrar productos que marcan la diferencia.</p>
        <p class="mt-4 text-lg text-gray-600">¡Gracias por visitarnos!</p>
      </div>
    </div>
  <app-footer></app-footer>
</main>